<div class="container">
<h1>Edit Recipe</h1>

<%= form_for @product do |f| %>
<div>
<%= f.label :name %>
<br/>
<%= f.text_field :name %>
</div>
<%= f.label :brand %>
<br/>
<%= f.text_field :brand %>
<div>
<%= f.label :department %>
<br/>
<%= f.text_field :department %>
</div>
<%= f.label :isle %>
<br/>
<%= f.text_field :isle %>
<div>
<%= f.label :price %>
<br/>
<%= f.text_field :price %>
 </div>
  <br/>
  <div>
<%= f.label :description %>
<br/>
<%= f.text_field :description %>
  </div>
  <br/>
  <div>
<%= f.label :photo %>
<br/>
<%= f.text_field :photo %>
  </div>
  <br/>
      <div>
        <%= f.submit %>
        <%= link_to 'Cancel', products_path %>
      </div>


<% end %>
<br/>
</div>