<div class="container">

  <div>
    <h1 id='index'>PRODUCTS</h1>
     <%= form_tag '/search', class: "navbar-form navbar-right" do %>
    <div class="form-group">
      <%= text_field_tag :name, nil, class: "form-control", placeholder: "search here" %>
    </div>
    <%= submit_tag 'Search', class: "btn" %>
     

    <% end %>
  </div>
  <h2>Please browse the items listed and make your choice for a purchase</h2>
  <div>  
<tbody>
  <% @products.each do |product| %> 
    <p>
      <div class="col-md-3">
        <div class="thumb">
         <a href="/products/<%= product.id %>">               
          <img src="<%= product.photo %>" height="200" width="200" >
          <h3><%= product.name %></h3s>
          <p><a href='products/<%= product.id %>/edit'>EDIT/</a></p>
          <p><a data-confirm='Are you sure?'data-method="delete" href="/products/<%= product.id %>" rel="nofollow">DELETE</a></p>      <p><%= product.brand %></p>                         
          <p>Isle: <%= product.isle %></p>
          <p><%= product.num_to_currency %></p>
         </a>          
        </div>
      </div>
    </p>
  <% end %>
</tbody>
     </table>    
   </div>
 </div>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Draggable - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script>
  $(function() {
    $( "#draggable" ).draggable();
  });
  </script>
</head>
<body>
  <div id="draggable" class="ui-widget-content">
    <p>Drag into cart</p>
  </div>
</body>
</html>



