<div class="container">
<h1>New Product</h1>

<%= form_for @product do |f| %>
<div>
<%= f.label :name %>
<br/>
<%= f.text_field :name %>
</div>
<%= f.label :brand %>
<br/>
<%= f.text_field :brand %>
<div>
<%= f.label :department %>
<br/>
<%= f.text_field :department %>
</div>
<%= f.label :isle %>
<br/>
<%= f.text_field :isle %>
<div>
<%= f.label :price %>
<br/>
<%= f.text_field :price %>
</div>
<div>
<%= f.label :description %>
<br/>
<%= f.text_field :description %>
  </div>
  <div>
<%= f.label :photo %>
<br/>
<%= f.text_field :photo %>
  </div>
  <div>
<%= f.label :vendor_id %>
<br/>
<%= f.text_field :vendor_id %>
  </div>
  <br/>
      <div>
        <%= f.submit %>

      </div>
      <br/>
      <%= link_to 'Cancel', products_path %>


<% end %>
<br/>
</div>