<div class="container">
<h1>Product Description</h1>
<h2>Add Product?</h2>


<table>
  <tr>
    <th>Product----------|</th>
    <th>Brand----------|</th>
    <th>Description----------|</th>
    <th>Price-----------|</th>
    <th>Tax-----------|</th>
    <th>Vendor--------|</th>
  </tr>
  
  <tr>
    <td><%= @product.name %></td>

    <td><%= @product.brand %></td>

    <td><%= @product.description %></td>

    <td><%= @product.num_to_currency %></td>

    <td><%= @product.tax %></td>

    <td><%= @product.vendor.name %></td>



  </tr> 
</table>
<%= form_for @order do |f| %>
<%= f.label :quantity %>
<%= f.text_field :quantity %>
<%= f.hidden_field :product_id, value: @product.id %>


<%= f.submit "Buy Now!"%>



<% end %>
<br/>
<%= link_to 'Back to products', products_path %>

<div>
  <br/>
</div>
</div>
    